<IfModule mod_rewrite.c>
    RewriteEngine On

    # Automatically detect the subfolder path
    RewriteCond %{REQUEST_URI} !^/public/

    # If request is not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all requests to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
